<div class="dashboard-ecommerce">
  <div class="container-fluid dashboard-content">
    <div *ngIf="base">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Listado de Eventos</h1>
    <button type="button" class="btn btn-outline-dark btn-md" (click)="openCreateDialog()">
      Agregar evento
    </button>
  </div>
      <br>
      <div class="ecommerce-widget">
        <div *ngFor="let evento of paquete">
          <app-event-card
            [id]="evento.PK_E_Cod"
            [titulo]="evento.E_Nombre"
            [imagen]="imagenDe(evento.E_Nombre)"
            (emitAccion)="prueba($event)">
          </app-event-card>
        </div>
      </div>
    </div>

    <div *ngIf="!base">
      <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
          <div>
            <button (click)="base = true" class="btn-danger">Atras</button>
          </div>
        </div>
        <app-event-service [id]="servicioId"></app-event-service>
      </div>
    </div>
  </div>
</div>
