:host .spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host ::ng-deep th.cliente-col,
:host ::ng-deep td.cliente-col {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}

:host ::ng-deep td.cliente-col span,
:host ::ng-deep td.cliente-col small {
  white-space: normal;
}
