<div class="dashboard-ecommerce">
  <div class="container-fluid dashboard-content">

    <h1>Registrar cliente</h1>


    <form #clienteForm="ngForm" (ngSubmit)="addCliente(clienteForm)">
      <mat-card class="card">
        <mat-card-header class="card-header">

          <mat-card-title>Información del cliente</mat-card-title>

        </mat-card-header>
        <mat-card-content class="card-body">
          <div class="form-row">
            <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" name="nombre" #nombre="ngModel" ngModel [pattern]="nombrePattern" required>
              <div *ngIf="nombre.errors?.pattern">
                <p>*Sólo letras</p>
              </div>
              <div *ngIf="nombre.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>
            <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
              <mat-label>Apellido</mat-label>
              <input matInput type="text" name="apellido" #apellido="ngModel" ngModel [pattern]="apellidoPattern" required>
              <div *ngIf="apellido.errors?.pattern">
                <p>*Sólo letras</p>
              </div>
              <div *ngIf="apellido.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
              <mat-label>Correo</mat-label>
              <input matInput type="text" name="correo" #correo="ngModel" ngModel [pattern]="correoPattern" required>
              <div *ngIf="correo.errors?.pattern">
                <p>*Ingrese un email correcto</p>
              </div>
              <div *ngIf="correo.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>
            <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
              <mat-label>Número de documento</mat-label>
              <input matInput type="text" name="doc" #doc="ngModel" ngModel [pattern]="docPattern" required>
              <div *ngIf="doc.errors?.pattern">
                <p>*Sólo números</p>
              </div>
              <div *ngIf="doc.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>
            <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
              <mat-label>Celular</mat-label>
              <input matInput type="text" name="celular" #celular="ngModel" ngModel [pattern]="celularPattern" required>
              <div *ngIf="celular.errors?.pattern">
                <p>*Sólo números</p>
              </div>
              <div *ngIf="celular.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>
          </div>
          <div class="form-row">

            <mat-form-field class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">

              <mat-label>Dirección</mat-label>
              <textarea matInput type="text" name="direccion" #direccion="ngModel" ngModel required></textarea>
              <div *ngIf="direccion.errors?.pattern">
                <p>*Ingrese una dirección correcta</p>
              </div>
              <div *ngIf="direccion.errors?.required">
                <p>*Campo Requerido</p>
              </div>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="form-actions">
        <button class="btn btn-outline-dark" type="submit" [disabled]="clienteForm.invalid">
          Registrar
        </button>
        <button class="btn btn-outline-dark" type="button" [routerLink]="['/home/gestionar-cliente']">
          Atrás
        </button>
      </div>

    </form>
  </div>
</div>
